@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zeyada', cursive;
}
.container{
    width: 100%;
    height: 100vh;background-color: #1e2227;
}

nav{
background: #1e2227;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 8%;
position: fixed;
top: 0;
width: 100%;
z-index: 1;

}

.logo{
    cursor: pointer;
    width: 120px;
    
}


nav .nav-links a{
color: #fff;
font-size: 26px;
text-decoration: none;   
} 

nav .nav-links{
    display: flex;
    column-gap: 15px;
}
.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.row .col-1, .row .col-2 {
    flex-basis: 50%;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    color: #487960;
}

.row .col-1{
    padding-left: 8%;
}

.row .col-1 h1{
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;

}

.row .col-1 p{
    padding-right: 10px;
    line-height: 1.4;
}

.row .col-1 .price{
    display: flex;
    align-items: flex-end;
    column-gap: 18px;
    margin-top: 10px;
    
}

.row .col-1 .price h2{
    font-size: 20px;
    line-height: 1;

}
.row .col-1 .buttons{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}

.col-1 .buttons button, .col-1 .buttons a{
    display: inline-block;
width: fit-content;
padding: 18px 50px;
background: red;
border: none;
color: #fff;
font-size: 18px;
margin-top: 20px;
text-decoration: none;
cursor: pointer;
transition: 0.5sn ease-in-out;
}

.col-1 .buttons button:hover, .col-1 .buttons a:hover{
    background: rgb(80, 79, 150);
    transform: translateY(-5px);
color: rgb(199, 157, 106);

}
.col-2 .img{
    width: 80%;
    text-align: right;
    
}

.col-2 .img img{
    width: 80%;
    transform: rotate(-20deg);
    transition: 0.5s ease;
}
.col-2 .img img:hover{
    
    transform: rotate(0);
}
.col-2{
    background: red;
    
    position: relative;
}

.small-img{
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;
}
.img-1{
    width: 80%;
    height: 80%;

}
.img-1 img{
    width: 120px;
    transform: rotate(-20deg);
}

.img-1:nth-child(1) {
    background: #93b1d6;
}
.img-1:nth-child(2) {
    background: #075e12;
}
.img-1:nth-child(3) {
    background: #144d92;
}
.img-1:nth-child(4) {
    background: #3d0303;
}

.small-img .img-1 img:hover{
    
    transform: rotate(5deg);
    transition: 0.5s ease;
}
